body {
    background: linear-gradient(45deg, #080A1D, #06082E);
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
    margin: 0 0 0 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    color: #DDE5F5;
    font-size: 1.3rem;
    margin: 1.3rem 0 0 0;
    letter-spacing: 0.03rem;
    font-family: Georgia, serif;
    text-shadow: 0 0 6px #A8ACB6;
}

h2 {
    margin: 0;
    font-size: 1.4rem;
    font-family: Georgia, serif;
    text-shadow: 0 0 6px #A8ACB6;
}

h3 {
    margin: 0;
    font-family: Georgia, serif;
}

p {
    text-shadow: 0 0 6px #A8ACB6;
}

.sep {
    width: 100%;
    height: 0.1rem;
    background: #656671;
}

.background_logo_p {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #272940;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-top: 1rem;
}
.logo_principal {
    width: 6.7rem;
    height: 6.7rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.background_title {
    text-align: center;
}

.background_location {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2rem;
    margin-top: -0.5rem;
 }
.background_location p {
    font-size: 1rem;
    color: #DDE5F5;
    margin: 0.25rem;
    font-family: 'Courier New', monospace;
    word-spacing: -0.4rem;
    letter-spacing: 0;
    text-shadow: 0 0 0.3rem #FFFBFB;
}
.background_location a {
    font-size: 1rem;
    color: #FFFFFF;
    margin: 0.3rem;
    font-family: 'Courier New', monospace;
    word-spacing: -0.4rem;
    letter-spacing: 0;
    text-shadow: 0 0 0.3rem #FFFFFF;
    cursor: pointer;
}
.background_location img {
    width: 1rem;
    height: 1rem;
    padding-top: 0.3rem;
 }
.social_links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social_links img {
    width: 2.3rem;
    height: 2.3rem;
    display: inline-block;
}

.redes_icon {
    transition: filter 0.3s ease;
}

.redes_icon:active {
    filter: brightness(10%);
}

.l1, .l2, .l3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.9rem;
    width: 2.6rem;
    height: 2.6rem;
    margin: 0 0.5rem 0 0.5rem;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
.l1 {
    border: 0 solid #260EE1;
    background: linear-gradient(to bottom right, #1928A1, #00000052);
}
.l2 {
    border: 0 solid #1D802D;
    background: linear-gradient(to bottom right, #0F7E1A, #00000052);
}
.l3 {
    border: 0 solid #9A2929;
    background: linear-gradient(to bottom right, #A11919, #00000052);
}

.b_title_des_studio {
    display: flex;
    align-items: center;
    justify-content: center;
}
.b_title_des_studio h2 {
    margin: 1.5rem 0 0 0;
}
.description_studio {
    background: #40404959;
    text-align: center;
    border-radius: 0.9rem;
    margin: 0 0.5rem 0 0.5rem;
}
.description_studio p {
    padding: 0.6rem 0.4rem 0.6rem 0.4rem;
    margin: 0.5rem 0.5rem 1.3rem 0.5rem;
    font-family: 'Garamond', serif;
    text-shadow: 0 0 6px #888C96;
}

.back_ac {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aclaration_red {
    display: flex;
    align-items: center;
    justify-content: center;
    width: None;
    background: #40404959;
    border-radius: 0 0.6rem 0.6rem 0;
    border-top: 0.03rem solid #61619B;
    border-left: 0.3rem solid #C0C0C6;
    border-bottom: 0.03rem solid #414177;
    border-right: 0.03rem solid #454571;
    margin: 0 0.5rem 2.5rem 0.5rem;
}
.aclaration_red p {
    font-size: 1.1rem;
    padding: 0.4rem;
    margin: 0 0.2rem 0.2rem 0.2rem;
    font-family: 'Courier New', monospace;
    word-spacing: -0.4rem;
    letter-spacing: 0;
    text-shadow: 0 0 0.3rem #FFFFFF;
    line-height: 1;
    color: #FFFFFF;
}

.payment_method {
    display: flex;
    align-items: center;
    justify-content: center;
}
.payment_method h2 {
    margin: 0.5rem 0 0 0;
}
.back_mp {
    background: #40404959;
    border-radius: 0.9rem;
    margin: 0 0.5rem 2.5rem 0.5rem;
}
.m_dig {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.mc, .ud, .cuup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    background: #2B2F3D;
    width: 4.8rem;
    height: 5.5rem;
    margin: 0.4rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    outline: 0.2rem dashed #333A4E;
}
.mlc, .usd, .cup {
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 0.3rem;
    margin: 0.2rem;
}
.m_dig p {
    font-size: 1.6rem;
    color: #FFFFFF;
    margin: 0.25rem;
    font-family: Georgia, serif;
    text-shadow: 0 0 0.2rem #FFFBFB;
}
.efectivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.3rem 1.5rem 1.3rem;
    background: #2B2F3D;
    width: 6.8rem;
    height: 4.5rem;
    margin: 0.4rem;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    outline: 0.2rem dashed #333A4E;
}
.back_efec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: none;
}
.efectivo p {
    font-size: 1.6rem;
    color: #FFFFFF;
    margin: 0.25rem;
    font-family: Georgia, serif;
    text-shadow: 0 0 0.2rem #FFFBFB;
}
.efectivo img {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.back_ye {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dato_precio p {
    font-size: 1.2rem;
    padding: 0.3rem;
    margin: 0;
    font-family: 'Courier New', monospace;
    word-spacing: -0.4rem;
    letter-spacing: 0;
    text-shadow: 0 0 0.6rem #FFFFFF;
    line-height: 1;
    color: #FFFFFF;
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
}

.offers {
    margin: 0 0.5rem 0 0.5rem;
}
.back_offers_t {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.back_offers_t p {
    font-size: 1.5rem;
    font-family: Georgia, serif;
    font-weight: bold;
    margin: 0.5rem 0 0.7rem 0;
}
.back_offers {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #40404959;
    border-radius: 0.9rem;
    margin: 0.5rem 0 2.5rem 0;
}
.back_offers img {
    width: 100%;
    height: 23rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.style_t {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.2rem;
    width: 100%;
}
.style_t p {
    font-size: 1.5rem;
    font-family: Georgia, serif;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}
.descrip_created {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.descrip_created p {
    font-size: 1.1rem;
    margin-top: 0.1rem;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    line-height: 1.2rem;
    margin: 0 0.5rem 1rem 0.5rem;
}
.style_tt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 0.5rem 0 0.5rem;
    padding: 10px;
    background: #40404959;
    border-radius: 0.9rem 0.9rem 0 0;
}
.style_tt img {
    width: 100%;
    height: auto;
    border: 2px groove #000;
    border-radius: 15px;
}
.ver_mas_s {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #40404959;
    border-radius: 0 0 0.9rem 0.9rem;
    margin: 0 0 2.5rem 0;
}
.ver_mas_s {
    margin: 0 0.5rem 2.5rem 0.5rem;
}
.ver_mas_s p {
    font-size: 1.1rem;
    font-family: 'Book Antiqua', serif;
    font-weight: bold;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    cursor: pointer;
}
.ver_mas_s a {
    color: #D7E4E7;
    cursor: pointer;
}

.title_style {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.4rem;
    width: 100%;
}
.title_style p {
    font-size: 1.5rem;
    font-family: Georgia, serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.3rem;
}
.style_descrp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.style_descrp p {
    font-size: 1.1rem;
    margin-top: 0.1rem;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    line-height: 1.2rem;
}
.Styles_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 0.5rem 0 0.5rem;
    padding: 10px;
    background: #40404959;
    border-radius: 0.9rem 0.9rem 0 0;
    margin-bottom: 0;
}
.Styles_img img {
    width: 100%;
    height: auto;
    border: 2px groove #000;
    border-radius: 15px;
}
.ver_mas_c {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #40404959;
    border-radius: 0 0 0.9rem 0.9rem;
    margin: 0 0.5rem 2.5rem 0.5rem;
}
.ver_mas_c p {
    font-size: 1.1rem;
    font-family: 'Book Antiqua', serif;
    font-weight: bold;
    margin: 0.5rem 0 1rem 0;
    text-decoration: underline;
    cursor: pointer;
}
.ver_mas_c a {
    color: #D7E4E7;
    cursor: pointer;
}

.ide_t {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    width: 100%;
}
.ide_t p {
    font-size: 1.5rem;
    font-family: Georgia, serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.4rem;
}
.ide_descrp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.ide_descrp p {
    font-size: 1.1rem;
    margin-top: 0.1rem;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    line-height: 1.2rem;
}
.ideas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 0.5rem 0 0.5rem;
    padding: 10px;
    background: #40404959;
    border-radius: 0.9rem 0.9rem 0 0;
    margin-bottom: 0;
}
.ideas img {
    width: 100%;
    height: auto;
    border: 2px groove #000;
    border-radius: 15px;
}
.ver_mas_ide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #40404959;
    border-radius: 0 0 0.9rem 0.9rem;
    margin: 0 0.5rem 1.5rem 0.5rem;
}
.ver_mas_ide p {
    font-size: 1.1rem;
    font-family: 'Book Antiqua', serif;
    font-weight: bold;
    margin: 0.5rem 0 1rem 0;
    text-decoration: underline;
    cursor: pointer;
}
.ver_mas_ide a {
    color: #D7E4E7;
    cursor: pointer;
}

.footer {
    background: linear-gradient(180deg, #5C5C61C4, #0F0F11BF);
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 0.5rem;
}
.footer-content {
    margin-bottom: 1rem;
}
.footer_content {
    font-family: 'Garamond', serif;
}
.socials {
    list-style: none;
    padding: 0;
}
.socials li {
    display: inline;
    margin: 0 0.7rem;
}
.socials a {
    color: #FFFFFE;
    text-decoration: underline;
    transition: color 0.3s;
}
.socials a:target {
    color: #8F8F8F;
}

.hidden {
    display: none;
}
.socials a:hover {
    color: #8F8F8F;
}
.footer-bottom {
    border-top: 1px solid #5A7085;
    padding-top: 0;
}
.footer-bottom p {
    margin: 1rem 0 1rem 0;
}
.soci {
    cursor: pointer;
}
.soci a {
    cursor: pointer;
}