/* Estilos Globales */
body {
    background: linear-gradient(45deg, #080A1D, #06082E);
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
    margin: 0 0 0 0;
}

h1 {
    color: #DDE5F5;
    font-size: 1.4rem;
    margin: 1.3rem 0 0 0;
    letter-spacing: 0.03rem;
    font-family: Georgia, serif;
    text-shadow: 0 0 6px #A8ACB6;
}

h2 {
    margin: 0;
    font-size: 1.4rem;
    font-family: Georgia, serif;
    text-shadow: 0 0 6px #A8ACB6;
}

h3 {
    margin: 0;
    font-family: Georgia, serif;
    text-shadow: 0 0 6px #A8ACB6;
}

p {
    text-shadow: 0 0 6px #A8ACB6;
}

.separation {
    width: 100%;
    height: 0.1rem;
    background: #656671;
}


/* Header */
.bg-logo {
    background: #272940;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-top: 1rem;
}
.bg-logo__logo-prim {
    width: 6.7rem;
    height: 6.7rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.bg-title {
    text-align: center;
}

.bg-location {
    height: 2.2rem;
    margin-top: -0.5rem;
 }
.bg_location__text-place  {
    font-size: 1rem;
    color: #DDE5F5;
    margin: 0.25rem;
    font-family: 'Courier New', monospace;
    word-spacing: -0.4rem;
    letter-spacing: 0;
    text-shadow: 0 0 0.3rem #FFFBFB;
}
.bg_location__link-place {
    font-size: 1rem;
    color: #FFFFFF;
    margin: 0.3rem;
    font-family: 'Courier New', monospace;
    word-spacing: -0.4rem;
    letter-spacing: 0;
    text-shadow: 0 0 0.3rem #FFFFFF;
    cursor: pointer;
}
.bg_location__img-place {
    width: 1rem;
    height: 1rem;
    padding-top: 0.3rem;
 }
 

.red-social__img {
    transition: filter 0.3s ease;
}
.red-social__img:active {
    filter: brightness(10%);
}
.red-social__link-face, .red-social__link-wa, .red-social__link-insta {
    border-radius: 0.9rem;
    width: 2.6rem;
    height: 2.6rem;
    margin: 0 0.5rem 0 0.5rem;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
.red-social__link-face {
    border: 0 solid #260EE1;
    background: linear-gradient(to bottom right, #1928A1, #00000052);
}
.red-social__link-wa {
    border: 0 solid #1D802D;
    background: linear-gradient(to bottom right, #0F7E1A, #00000052);
}
.red-social__link-insta {
    border: 0 solid #9A2929;
    background: linear-gradient(to bottom right, #A11919, #00000052);
}


/* Main */
.bg-title-studio__subtitle {
    margin: 1.5rem 0 0 0;
}
.bg-descript-studio {
    background: #40404959;
    text-align: center;
    border-radius: 0.9rem;
    margin: 0 0.5rem 0 0.5rem;
}
.bg-descript-studio__descript {
    padding: 0.6rem 0.4rem 0.6rem 0.4rem;
    margin: 0.5rem 0.5rem 1.3rem 0.5rem;
    font-family: 'Garamond', serif;
    text-shadow: 0 0 6px #888C96;
}


.bg-aclaration-red {
    width: None;
    background: #40404959;
    border-radius: 0 0.6rem 0.6rem 0;
    border-top: 0.03rem solid #61619B;
    border-left: 0.3rem solid #C0C0C6;
    border-bottom: 0.03rem solid #414177;
    border-right: 0.03rem solid #454571;
    margin: 0 0.5rem 2.5rem 0.5rem;
}
.bg-aclaration-red__text {
    font-size: 1.1rem;
    padding: 0.4rem;
    margin: 0 0.2rem 0.2rem 0.2rem;
    font-family: 'Courier New', monospace;
    word-spacing: -0.4rem;
    letter-spacing: 0;
    text-shadow: 0 0 0.3rem #FFFFFF;
    line-height: 1;
    color: #FFFFFF;
}


.payment-method__subtitle {
    margin: 0.5rem 0 0 0;
}
.bg-payment-method {
    background: #40404959;
    border-radius: 0.9rem;
    margin: 0 0.5rem 2.5rem 0.5rem;
}
.bg-img {
    margin: 1.3rem 0;
}
.bg-img__text {
    font-size: 1.6rem;
    color: #FFFFFF;
    margin: 0.25rem;
    font-family: Georgia, serif;
    text-shadow: 0 0 0.2rem #FFFBFB;
}
.bg-mlc, .bg-usd, .bg-cup {
    padding: 0.4rem;
    background: #2B2F3D;
    width: 4.8rem;
    height: 5.5rem;
    margin: 0;
    border-radius: 0.5rem;
    margin-top: 1rem;
    outline: 0.2rem dashed #333A4E;
}
.bg-mlc__mlc, .bg-usd__usd, .bg-cup__img {
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 0.3rem;
    margin: 0.2rem;
}

.bg-efectivo {
    padding: 0 1.3rem 1.5rem 1.3rem;
    background: #2B2F3D;
    width: 6.8rem;
    height: 4.5rem;
    margin: 0.4rem;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    outline: 0.2rem dashed #333A4E;
}
.bg-efectivo__img {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.bg-efectivo__text {
    font-size: 1.6rem;
    color: #FFFFFF;
    margin: 0.25rem;
    font-family: Georgia, serif;
    text-shadow: 0 0 0.2rem #FFFBFB;
}

.bg-data_price__text {
    font-size: 1.2rem;
    padding: 0.3rem;
    margin: 0;
    font-family: 'Courier New', monospace;
    word-spacing: -0.4rem;
    letter-spacing: 0;
    text-shadow: 0 0 0.6rem #FFFFFF;
    line-height: 1;
    color: #FFFFFF;
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
}


.bg-offers-sup {
    margin: 0 0.5rem 0 0.5rem;
}
.bg-offers-text {
    width: 100%;
}
.bg-offers-text__subtitle {
    font-size: 1.5rem;
    font-family: Georgia, serif;
    font-weight: bold;
    margin: 0.5rem 0 0.7rem 0;
}
.bg_offers {
    background: #40404959;
    border-radius: 0.9rem;
    margin: 0.5rem 0 2.5rem 0;
}
.bg_offers-img__img {
    width: 100%;
    height: 33rem;
    margin-top: 0;
    margin-bottom: 1rem;
}


.bg-style-text {
    margin-top: 0.2rem;
    width: 100%;
}
.bg-style-text__subtitle {
    font-size: 1.5rem;
    font-family: Georgia, serif;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}
.bg-descrip {
    width: 100%;
}
.bg-descrip__text {
    font-size: 1.1rem;
    margin-top: 0.1rem;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    line-height: 1.2rem;
    word-spacing: -0.4rem;
    margin: 0 0.6rem 1rem 0.6rem;
}
.bg-style-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 0.5rem 0 0.5rem;
    padding: 10px;
    background: #40404959;
    border-radius: 0.9rem 0.9rem 0 0;
}
.bg-style-img__img {
    width: 100%;
    height: auto;
    border: 2px groove #000;
    border-radius: 15px;
}
.bg-ver-mas-style {
    background: #40404959;
    border-radius: 0 0 0.9rem 0.9rem;
    margin: 0 0.5rem 2.5rem 0.5rem;
}
.bg-ver-mas-style__text {
    font-size: 1.1rem;
    font-family: 'Book Antiqua', serif;
    font-weight: bold;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    cursor: pointer;
}
.bg-ver-mas-style__link {
    color: #D7E4E7;
    cursor: pointer;
}


.bg-created-subtitle {
    margin-top: 0.4rem;
    width: 100%;
}
.bg-created-subtitle__subtitle {
    font-size: 1.5rem;
    font-family: Georgia, serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.3rem;
}
.bg-created-descript {
    width: 100%;
}
.bg-created-descript__text {
    font-size: 1.1rem;
    margin-top: 0.1rem;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    line-height: 1.2rem;
    word-spacing: -0.4rem;
    margin: 0 0.6rem 1rem 0.6rem;
}
.bg-created-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 0.5rem 0 0.5rem;
    padding: 10px;
    background: #40404959;
    border-radius: 0.9rem 0.9rem 0 0;
    margin-bottom: 0;
}
.bg-created-img__img {
    width: 100%;
    height: auto;
    border: 2px groove #000;
    border-radius: 15px;
}
.bg-ver-mas-created {
    background: #40404959;
    border-radius: 0 0 0.9rem 0.9rem;
    margin: 0 0.5rem 2.5rem 0.5rem;
}
.bg-ver-mas-created__text {
    font-size: 1.1rem;
    font-family: 'Book Antiqua', serif;
    font-weight: bold;
    margin: 0.5rem 0 1rem 0;
    text-decoration: underline;
    cursor: pointer;
}
.bg-ver-mas-created__link {
    color: #D7E4E7;
    cursor: pointer;
}


.bg-ideas-subtitle {
    margin-top: 0.5rem;
    width: 100%;
}
.bg-ideas-subtitulo__subtitle {
    font-size: 1.5rem;
    font-family: Georgia, serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.4rem;
}
.bg-ideas-descript {
    width: 100%;
}
.bg-ideas-descript__text {
    font-size: 1.1rem;
    margin-top: 0.1rem;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    line-height: 1.2rem;
    word-spacing: -0.4rem;
    margin: 0 0.6rem 1rem 0.6rem;
}
.bg-ideas-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 0.5rem 0 0.5rem;
    padding: 10px;
    background: #40404959;
    border-radius: 0.9rem 0.9rem 0 0;
    margin-bottom: 0;
}
.bg-ideas-img__img {
    width: 100%;
    height: auto;
    border: 2px groove #000;
    border-radius: 15px;
}
.bg-ver-mas-ideas {
    background: #40404959;
    border-radius: 0 0 0.9rem 0.9rem;
    margin: 0 0.5rem 1.5rem 0.5rem;
}
.bg-ver-mas-ideas__text {
    font-size: 1.1rem;
    font-family: 'Book Antiqua', serif;
    font-weight: bold;
    margin: 0.5rem 0 1rem 0;
    text-decoration: underline;
    cursor: pointer;
}
.bg-ver-mas-ideas__link {
    color: #D7E4E7;
    cursor: pointer;
}


/* Footer */
.footer {
    background: linear-gradient(180deg, #5C5C61C4, #0F0F11BF);
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 0.5rem;
}
.bg-footer {
    margin-bottom: 1rem;
    font-family: 'Garamond', serif;
}
.social {
    list-style: none;
    padding: 0;
}
.social__link-f {
    margin: 0 0.7rem;
}
.social__text {
    color: #FFFFFE;
    text-decoration: underline;
    transition: color 0.3s;
}
.social__text:target {
    color: #8F8F8F;
}
.social__text:hover {
    color: #8F8F8F;
}
.footer__bottom {
    border-top: 1px solid #5A7085;
    padding-top: 0;
}
.footer__bottom p {
    margin: 1rem 0 1rem 0;
}
.social__text {
    cursor: pointer;
}
.social__link-f {
    cursor: pointer;
}